h1
{
	font-family:cambria;
	text-align:center;
}

label
{
	display:inline-block;
	width: 105px;
	text-align:center;
}

label[id="lblmessage"]
{
	display:inline-block;
	width: 25%;
	color:blue;
	text-algin:left
}

button[id="btnsubmit"]
{
	display:inline-block;
	width:10%;
	margin-left:11.7%
}